@model  JobFinder.ViewModels.OutputViewModels.CvOutputViewModel
@{
    ViewData["Title"] = "UserCv";
}

    <div class="boxDiv">
        <form method="get">
            <input type="hidden" name="ok" value="1">
            <input type="hidden" name="delphoto" value="0">
            <input type="hidden" name="back" value="0">
            <input type="hidden" name="backid" value="0">
            <input type="hidden" name="q_key" value="">
            <input type="hidden" name="csrf_token" value="8drD1DKkq6_WoGtaAgGqdJbsNkyiuqFUEZVHMaGvMX0"><table style="width:100%;padding-top:5px;">
                <tbody>
                <tr>
                    <td class="rowTitle" style="padding-bottom:10px;">Name:</td>
                    <td class="rowData" style="padding-bottom:10px;"><b>@Model.User.UserName</b>&nbsp;&nbsp;</td>
                </tr>
                   
                    <tr>
                        <td class="rowTitle" style="padding-bottom:10px;">Email:</td>
                        <td class="rowData" style="padding-bottom:10px;"><b>@Model.Email</b>&nbsp;&nbsp;</td>
                    </tr>
        
                    <tr>
                        <td class="rowTitle" valign="top">Снимка:</td>
                        <td class="rowData" valign="top"><img src="@Model.ImageUrl" border="0" style="vertical-align:top;margin-right:10px;"></td>
                    </tr>
                 
                </tbody>
            </table>
        </form>
    </div>

