@model JobFinder.ViewModels.OutputViewModels.CvOutputViewModel
@{
    ViewData["Title"] = "UserCv";
}
<div class="hero-wrap js-fullheight" style="background-image: url('../images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate text-center text-md-left mb-5" data-scrollax=" properties: { translateY: '70%' }">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-white"><b>Name:</b>  @Context.User.Identity.Name</p>
                    </div>
                    <div class="col-md-12">
                        <p class="text-white text"><b>Email:</b> <a href="mailto:@Model.Email">@Model.Email</a></p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid img-thumbnail" src="@Model.ImageUrl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
